<div id="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h1>BLOG PESSOAL</h1>
                <h4>Projeto de blog pessoal desenvolvido durante o bootcamp da Generation Brasil</h4>
                <a href="a" class="btn button-primary btn-primary button">Apresentação</a>
                <a href="a" class="btn button-primary btn-outline-primary button">Redes Sociais</a>
            </div>
            <div class="col-md-5 align-self-center"> 
                <img src="assets/avatar-slider.jfif" class="img-fluid"/>
    
            </div>
    
        </div>
    </div>
    </div>