<div class="container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col-md-6">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <h1>LOGIN</h1>
                    <div class="form-group">
                        <div class="label-usuario">Usuário</div>
                        <input class="from-control" type="text" name="usuario" id="usuario" 
                        placeholder="Digite o seu usuário">
                    </div>
                    <div class="form-group">
                        <div class="label-senha">Senha</div>
                        <input class="from-control" type="text" name="senha" id="senha" 
                        placeholder="Digite a sua senha">
                    </div>
                    <div class="d-flex justify-content-center"></div>
                    <button type="submit" class="btn btn-success">Entrar</button>
                    <hr class="mt-5 mb-5">
                    <p class="text-center">
                        Não tem uma conta? <a routerLink='/cadastro'>Cadastre-se.</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="img-bg"></div>
    </div>
</div>
